<div class="jumbotron">
    <h1>Calling a web service using jQuery</h1>
    <select id="namesListBox" size="5"></select><br/>
    <button type="button" id="populateListButton">Populate Names</button><br/>
    Enter an index for a name to retrieve: <input id="indexTextBox" type="number"/>
    <button type="button" id="getNameButton">Get Name</button>
    <span id="nameDisplay"></span>
    Enter a new name: <input id="newNameTextBox"/>
    <button type="button" id="insertNameButton">Insert Name</button>
</div>
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('/Content/FhHRx.gif') 50% 50% no-repeat;
        }

         /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
         body.loading {
             overflow: hidden;
         }

             /* Anytime the body has the loading class, our
    modal element will be visible */
             body.loading .modal {
                 display: block;
             }
</style>
@section scripts {

<script>

    $body = $("body");

    $(document).on({
        ajaxStart: function () {
            $body.addClass("loading");
            debugger;
        },
        ajaxStop: function () {
            $body.removeClass("loading");
        }
    });
    $(populateListButton).on("click", function () {
        $.ajax({
            url: "/api/values",
            dataType: "json" // expected return type
        }).done(function (arrayOfNames) {
            arrayOfNames.forEach(function (name) {
                $(namesListBox).append("<option>" + name + "</option>");
            });
        }).fail(function (error) {
            alert("Something went wrong!");
        });
    });
    $(insertNameButton).on("click", function () {
        $.ajax({
            type: "POST",
            url: "/api/values",
            contentType: "application/json; charset=utf-8",
            dataType: "json", // expected return type
            data: JSON.stringify(newNameTextBox.value)
        }).done(function (message) {
            alert(message);
        });
    });
</script>
}
<div class="modal"></div>